.MainBox {
  display: flex;
}

.FileDropper {
  color: rgba(30, 25, 0, 0.9);
}

.NonotaHandler {
  margin-left: 50px;
  padding: 20px;
  width: 100%;
  flex: 1;
}


.eventCreatingBox {
  display: flex;
  justify-content: center;
}


.postEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropzone {
  background-color: #fcfcfcb1;
  padding: 4vw;
  text-align: center;
  tab-size: 2vw;
  font-weight: 800;
  border-radius: 4vw;
  box-shadow: .2vw .5vw .5vw rgba(145, 255, 0, 0.491);
  transition: all 1s;
}

.dropzone:hover {
  background-color: #ffffff53;
}