.container {
  position: absolute;
  background-color: #ff000030;
  width: 3vw;
}

.Bar {
  position: relative;
  background-color: #00ff596b;
  width: 3vw;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 5s;
}